---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="NEUBLCK – Startseite"
  description="Werbeagentur aus Düren und Köln Seit 2003 ✅ NEUBLCK Full-Service Digitalagentur & Internetagentur bieten wir kreative Werbung, digitale Entwicklung und strategisches Marketing aus einer Hand."
>
  <main class="min-h-screen flex flex-col items-center justify-center gap-4">
    <i class="fa-solid fa-bolt text-yellow-400 text-4xl"></i>
    <h1 class="text-5xl font-bold tracking-tight">Hallo NEUBLCK 👋</h1>
  </main>
</BaseLayout>