---
// Ein einzelner Button. Bekommt label, href und style als Props:
const { label, href, style = "primary" } = Astro.props;
---

<a
    href={href}
    class={style === "primary" ? "btn btn-primary" : "btn btn-secondary"}
>
    <i class="fa-solid fa-arrow-right"></i>
    {label}
</a>
